<a href="https://colab.research.google.com/github/HugoStigletz/Data-Analytics-Portfolio/blob/main/10_5_Building_a_Machine_Learning_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lesson 11.2.3 Activity

Right now, we are using a feature-engineered variable that is (more or less) an average of the parents' heights. Sir Francis Galton made the choice to model the data this way because, when he first analyzed it, multiple linear regression hadn't been developed yet!

However, we now have the tools to model the data using each parent's height separately. Adding an additional feature to our model (using Father and Mother rather than MidParent) might allow us to improve our model predictions. Or it might send us back into the territory of overfitting.

Let's see what happens!

#Step 1: Download and save the `heights.csv` dataset from the class materials  

* Make a note of where you saved the file on your computer.

#Step 2: Upload the heights.csv dataset by running the following code block 

* When prompted, navigate to and select the `heights.csv` dataset where you saved it on your computer.
* This is a pretty large dataset, so it may take a little while.

In [ ]:
#Step 2

'''from google.colab import files
heights = files.upload()'''

#Step 3: Import necessary packages

```
* import pandas as pd
* from sklearn.model_selection import train_test_split
* from sklearn.linear_model import LinearRegression
* from sklearn.metrics import r2_score, mean_squared_error as MSE

```

In [ ]:
#Step 3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error as MSE

# Step 4: Create a Pandas DataFrame from the CSV file
* Name the DataFrame `heights`.
* Print the first five observations of `heights`.  Note the kinds of data it contains.

In [ ]:
#Step 4
heights = pd.read_csv('/content/heights.csv')

heights

     Family  Father  Mother Gender  Height  Kids  MidParent
0         1    78.5    67.0      M    73.2     4      75.43
1         1    78.5    67.0      F    69.2     4      75.43
2         1    78.5    67.0      F    69.0     4      75.43
3         1    78.5    67.0      F    69.0     4      75.43
4         2    75.5    66.5      M    73.5     4      73.66
..      ...     ...     ...    ...     ...   ...        ...
893     205    68.5    65.0      M    68.5     8      69.35
894     205    68.5    65.0      M    67.7     8      69.35
895     205    68.5    65.0      F    64.0     8      69.35
896     205    68.5    65.0      F    63.5     8      69.35
897     205    68.5    65.0      F    63.0     8      69.35

[898 rows x 7 columns]

#Step 5: Split the data into the target variable and the feature of interest.
* We want to predict an adult child's height (`Mother` and `Father`) using the heights of the parents (`MidParent`) and the adult child's gender (`Gender`).         
* Select the columns `Mother`, `Father`, and `Gender` from the `heights` DataFrame and name the resulting DataFrame `X`.  
* Select the column `Height` from the `heights` DataFrame and name it `y`.  Make sure `y` is also a DataFrame and not a Series.

In [ ]:
#Step 5
X = heights[['Mother', 'Father', 'Gender']]

y = heights[['Height']]

#Step 6: One-hot encode `Gender` 
* You've done this before, but it doesn't hurt to practice!
* Use `pd.get_dummies` to one-hot encode `Gender`.  Assign the results to the variable `one_hot`.
* Convert `one_hot` to a Pandas DataFrame and name it `X`.
* Now `X` includes our one-hot encoded values of `Gender`.

In [ ]:
#Step 6
X = pd.get_dummies(data=X, columns=['Gender'])

#Step 7: Split the data into a training/validation dataset and a test dataset
* Use `train_test_split` from `sklearn.model_selection`.
* Name the X training/validation set `X_train_val` and the y training/validation set `y_train_val`.
* Name the X test set `X_test` and the y test set `y_test`.
* Set the `test_size = 0.25` and `random_state = 42`.

In [ ]:
#Step 7
X_train_val, X_test, y_train_val, y_test =train_test_split(X, y, test_size=0.25,random_state=42)

#Step 8: Split the training/validation dataset into a training set and validation set
* You've done this before, but it doesn't hurt to practice!
* Use `train_test_split` from `sklearn.model_selection` to split `X_train_val` and `y_train_val` into `X_train`, `X_val`, `y_train` and `y_val`.
* Set the `test_size = 0.333` (this will be the size of the validation set) and `random_state = 42`.

In [ ]:
#Step 8
X_train, X_val, y_train, y_val =train_test_split(X_train_val, y_train_val, test_size=0.3333,random_state=42)

#Step 9: Fit a linear regression model using sklearn
* Instantiate the regression model using sklearn.  Name the resulting model `model`.  Use the format 

```
reg = model name

model = reg.fit(X variable, y variable)

```

* Make sure you are building your model using the training data that we just one-hot encoded.

In [ ]:
#Step 9
reg = LinearRegression()

model = reg.fit(X_train, y_train)

model.score(X_train, y_train)

0.6390857198371704

#Step 10: Calculate the predicted y values for the training set and validation set using your regression model
* Call the predicted values for the training set `y_pred`.  
* Call the predicted values for the validation set `y_pred_val`.
* Use the format 

```
predicted y = model.predict(X variable)

```

In [ ]:
#Step 10
y_pred = model.predict(X)

#Step 11: Calculate and interpret the RMSE and R-squared for the model using the training data
* Assign the RMSE to the variable `RMSE_train`.  Use the format 

```
RMSE_train = MSE(y observed, y predicted, squared = False)

```

* Print the value of the RMSE for the model.

* Assign the R-squared to the variable `r2_train`.  Use the format

```
r2_train = r2_score(y observed, y predicted)

```
* Print the value R-squared for the model.

* Interpret the value of RMSE and R-squared for the model.

In [ ]:
#Step 11
RMSE = MSE(y, y_pred, squared = False)
RMSE

2.1551857930168543

In [ ]:
r2 = r2_score(y, y_pred)
r2

0.6377741226361406

#Step 12: Calculate and interpret the RMSE and R-squared for the model using the valdication data
* Assign the RMSE to the variable `RMSE_val`.  Use the format 

```
RMSE_val = MSE(y observed, y predicted, squared = False)

```

* Print the value of the RMSE for the model.

* Assign the R-squared to the variable `r2_val`.  Use the format

```
r2_val = r2_score(y observed, y predicted)

```
* Print the value R-squared for the model.

* Does our model fit the validation data well?

In [ ]:
#Step 12