<a href="https://colab.research.google.com/github/HugoStigletz/Data-Analytics-Portfolio/blob/main/6_5_3_Merge_and_Concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6.5.3 Merge and Concat Activity

In this activity, we are going to practice using merge and concat to combine datasets.

##Step 1: Download and save the `hotel_bookings_6.5.3.csv` dataset from the class materials.

Make a note of where you saved the file on your computer.

## Step 2: Upload the `hotel_bookings.csv` dataset by running the following code block. 

When prompted, navigate to and select the `hotel_bookings.csv` dataset where you saved it on your computer. This may take a few minutes.

In [ ]:
from google.colab import files
hotel_bookings = files.upload()

##Step 3: Import necessary packages.
  * import `numpy` as `np`
  * Import `pandas` as `pd`

In [ ]:
#Step 3

import numpy as np
import pandas as pd

### Step 4: Create a Pandas DataFrame from the CSV file.
* Name the DataFrame `bookings`
* Print the first five observations of `bookings`

In [ ]:
#Step 4

bookings_1 = pd.read_csv('/content/6.5.3 hotel_bookings_.csv')
bookings_2 = pd.read_csv('/content/6.5.3 hotel_bookings_.csv')

bookings_2.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

## Step 5: Concatenate
For the purpose of the exercise, we have two DataFrames with the same dataset, and we want to practice using concat to stack them on top of each other. How many rows are in `bookings_1`?

**Hint:** You can use the same function you use to find the length of Python lists to find the length of DataFrames.

In [ ]:
# Number of rows in bookings_1
bookings_1.shape

(46380, 32)

In [ ]:
bookings_2.shape

(46380, 32)

Now, use pd.concat to stack bookings_1 and bookings_2 on top of each other.

In [ ]:
# Concatenate both bookings dataframes
total_bookings = pd.concat([bookings_1, bookings_2])

How many rows does the new DataFrame have? Are there twice as many as bookings_1?

In [ ]:
total_bookings.shape

(92760, 32)

In [ ]:
total_bookings.shape[0]

92760

In [ ]:
total_bookings.shape[1]

32

In [ ]:
total_bookings = pd.concat([bookings_1, bookings_2], axis =1)
total_bookings.shape

(46380, 64)

## Step 6: Merge
Next, we will use sample data instead of our hotel booking data to practice merging. First, run the cells below to see the tables, then merge `df1` with `df2` and set it equal to `df3`.

### Part 1: Merge df1 and df2

In [ ]:
df1 = pd.DataFrame({
    "bookingID" : [15926, 17932, 97845, 35784, 17932],
    "resDate" : ["Dec 11", "Dec 11", "Nov 15", "Dec 11", "Oct 09"]
})
df1

   bookingID resDate
0      15926  Dec 11
1      17932  Dec 11
2      97845  Nov 15
3      35784  Dec 11
4      17932  Oct 09

In [ ]:
df2 = pd.DataFrame({
    "bookingID" : [15926, 35784, 17932],
    "clientName" : ["Flynn. Elisse", "Nedresky, Kayla" , "Segall, Alison"],
    "roomType" : ["Lake", "Garden", "Park"],
})
df2

   bookingID       clientName roomType
0      15926    Flynn. Elisse     Lake
1      35784  Nedresky, Kayla   Garden
2      17932   Segall, Alison     Park

Fill in the merge below. What are the duplicates?

In [ ]:
df3 = pd.merge(df1, df2, how = 'outer', left_on = 'bookingID', right_on = 'bookingID')
df3

   bookingID resDate       clientName roomType
0      15926  Dec 11    Flynn. Elisse     Lake
1      17932  Dec 11   Segall, Alison     Park
2      17932  Oct 09   Segall, Alison     Park
3      97845  Nov 15              NaN      NaN
4      35784  Dec 11  Nedresky, Kayla   Garden

While we are joining on the bookingID column, there is a duplicate ID but a different reservation date. It looks like this could be a mistake. Howie’s Hotel will need to follow up with this client because there are two dates with the same booking ID, clientName, and roomType.

### Part 2: Using a new df2

Run the cell below to create a new DataFrame called `df2_new` then merge it with `df1` to create `df4`. Print the output.

In [ ]:
df2_new = pd.DataFrame({
    "bookingID" : [15926, 65895, 95871],
    "clientName" : ["Flynn, Elisse",
                    "Marks, Austin", "Hunt, Michael"],
    "roomType" : ["Lake", "Garden", "Park"],
})
df2_new

   bookingID     clientName roomType
0      15926  Flynn, Elisse     Lake
1      65895  Marks, Austin   Garden
2      95871  Hunt, Michael     Park

In [ ]:
# Merge with df1

df4 = pd.merge(df1, df2_new, how = 'outer', left_on = 'bookingID', right_on = 'bookingID')
df4

   bookingID resDate     clientName roomType
0      15926  Dec 11  Flynn, Elisse     Lake
1      17932  Dec 11            NaN      NaN
2      17932  Oct 09            NaN      NaN
3      97845  Nov 15            NaN      NaN
4      35784  Dec 11            NaN      NaN
5      65895     NaN  Marks, Austin   Garden
6      95871     NaN  Hunt, Michael     Park