<a href="https://colab.research.google.com/github/HugoStigletz/Data-Analytics-Portfolio/blob/main/6_5_2_String_Operations_replace_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6.5.2 String Operations

Welcome to our activity! We will be using a dataset about hotel booking to practice cleaning string data for use.

Note: The name and email columns are fabricated for the purposes of the lesson and do not belong to real people as to not compromise privacy.

## Set Up DataFrame

### Step 1: Download and save the `hotel_bookings_6.5.2.csv` dataset from the class materials.  

Make a note of where you saved the file on your computer.

### Step 2: Upload the `hotel_bookings.csv` dataset by running the following code block.

When prompted, navigate to and select the `hotel_bookings_6.5.2.csv` dataset where you saved it on your computer. This may take a few minutes.

In [16]:
from google.colab import files
hotel_bookings = files.upload()

### Step 3: Import necessary packages
  * import `numpy` as `np`
  * import `pandas` as `pd`
  * import `datetime`
  * import `re`

In [ ]:
# Load the data set and import the necessary libraries.
import pandas as pd
import datetime
import numpy as np
# Module for regular expressions
import re

### Step 4: Create a Pandas DataFrame from the `hotel_bookings_6.5.2.csv` file.
* Name the DataFrame `bookings`
* Print the first five observations of `bookings`.

In [ ]:
bookings = pd.read_csv("/content/6.5.2 hotel_bookings_.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
bookings.shape

(119390, 35)

In [ ]:
bookings.head(10)

,name,email,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Unnamed: 34
0,"Pattie, Marshalleck",pmarshalleck0@storify.com,Resort Hotel,0,342,2015,July,27,1,0,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/15,NaN
1,CASE Willson,cwillson1@fema.gov,Resort Hotel,0,737,2015,July,27,1,0,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/15,NaN
2,Amerigo SCOTFURTH,ascotfurth2@tumblr.com,Resort Hotel,0,7,2015,July,27,1,0,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/15,NaN
3,"sheena, selway",sselway3@mozilla.org,Resort Hotel,0,13,2015,July,27,1,0,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/15,NaN
4,Beitris HAWkings,bhawkings4@google.fr,Resort Hotel,0,14,2015,July,27,1,0,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/15,NaN
5,Maggie PONTE,mponte5@paypal.com,Resort Hotel,0,14,2015,July,27,1,0,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/15,NaN
6,Loria Killbey,lkillbey6@naver.com,Resort Hotel,0,0,2015,July,27,1,0,...,NaN,NaN,0,Transient,107.0,0,0,Check-Out,7/3/15,NaN
7,"Fulton, Francesco",ffrancesco7@eepurl.com,Resort Hotel,0,9,2015,July,27,1,0,...,303.0,NaN,0,Transient,103.0,0,1,Check-Out,7/3/15,NaN
8,FORD Husselbee,fhusselbee8@paginegialle.it,Resort Hotel,1,85,2015,July,27,1,0,...,240.0,NaN,0,Transient,82.0,0,1,Canceled,5/6/15,NaN
9,Derril Limpkin,dlimpkin9@is.gd,Resort Hotel,1,75,2015,July,27,1,0,...,15.0,NaN,0,Transient,105.5,0,0,Canceled,4/22/15,NaN

---

## Guided Practice

### Step 5: re.split
First, we will go over regex patterns and string manipulations. Then, you will use it to clean the case study dataset in the independent practice. You can refer to [regex101.com](https://regex101.com/) to test your patterns.

#### Example 1: re.split

In [ ]:
#The pattern we want to split on
regex = r'-'

#The string we want to split 
string = 'Check-Out'

re.split(regex, string, 0, 0)

['Check', 'Out']

**Practice:**
Split the string on the white space to get a list of names. Refer to space as `\s`.

In [ ]:
#Pattern
regex = r'\s'

#String
string = 'Pattie Case Amerigo Sheena Beitris'

re.split(regex, string)

['Pattie', 'Case', 'Amerigo', 'Sheena', 'Beitris']

In [ ]:
# replace the '-' in date with '/'
bookings['new_column'] = bookings['reservation_status_date'].str.replace('-', '/')

In [ ]:
bookings['new_column'] = bookings['reservation_status_date'].str.replace('-', '/')

ValueError: ignored

In [ ]:
bookings[['new_column', 'reservation_status_date']].tail(10)

       new_column reservation_status_date
119380     9/4/17                  9/4/17
119381     9/5/17                  9/5/17
119382     9/5/17                  9/5/17
119383     9/6/17                  9/6/17
119384     9/6/17                  9/6/17
119385     9/6/17                  9/6/17
119386     9/7/17                  9/7/17
119387     9/7/17                  9/7/17
119388     9/7/17                  9/7/17
119389     9/7/17                  9/7/17

Great! Now we have a list of names instead of one long string of names.

### Step 6: Substitution

#### Example 2: re.sub and str.replace

In [ ]:
#We want to switch 7/1/2015 to 7-1-2015
regex = r'/'

date = '7/1/2015'

re.sub(regex, '-', date)

'7-1-2015'

In [ ]:
#This is how we do it for the whole column in the dataframe. Equivalent to re.sub()
# .head() shows the first 5 rows

new_column = bookings['reservation_status_date'].str.replace('/', '-')
new_column.head()

0    7-1-15
1    7-1-15
2    7-2-15
3    7-2-15
4    7-3-15
Name: reservation_status_date, dtype: object

**Practice:** How would you change the column in the dataframe?

In [ ]:

bookings['reservation_status_date'] = bookings['reservation_status_date'].str.replace('/', '-')

bookings[['reservation_status_date', 'name']].head()

  reservation_status_date                name
0                  7-1-15  Pattie Marshalleck
1                  7-1-15        CASE Willson
2                  7-2-15   Amerigo SCOTFURTH
3                  7-2-15       sheena selway
4                  7-3-15    Beitris HAWkings

In [ ]:
bookings.dtypes

#### Example 3: re.search
If you have text data but need to retrieve other information (such as a phone number) you can use `re.search` to search the string, then put it into a Boolean to see if the pattern exists.

In [ ]:
phone_re = r"[0-9]{3}-[0-9]{3}-[0-9]{4}"
text  = "Call me at 382-384-3840."
match = re.search(phone_re, text)
match

In [ ]:
#Commonly used to see if a pattern exists
if re.search(phone_re, text):
    print("Found a match!")

Found a match!

### Step 7: Find and search

#### Example 4: re.findall

In [ ]:
#Regex pattern to find emails
gmail_re = r'[a-zA-Z0-9]+@gmail\.com'

#Example text to extract emails 
text = '''
From: email1@gmail.com
To: email2@yahoo.com and email3@gmail.com
'''

#Puts emails in a list
re.findall(gmail_re, text)

['email1@gmail.com', 'email3@gmail.com']

---

## Independent Practice

### Step 8: Clean names
Edit the names column so all the names have the same format: for example, jane smith.

In [ ]:
#First, make sure there is no punctuation.

# new_name = bookings['name'].str.replace('!', '').replace(',', '')
## OR make a list to avoid writing replace over and over
new_name = bookings['name'].str.replace('[!,/$!#]', '')
bookings['name'] = new_name

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

In [17]:
#Next, use methods to make it lowercase
bookings['name'] = bookings['name'].str.lower()
bookings

,name,email,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Unnamed: 34
0,pattie marshalleck,pmarshalleck0@storify.com,Resort Hotel,0,342,2015,July,27,1,0,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,7-1-15,NaN
1,case willson,cwillson1@fema.gov,Resort Hotel,0,737,2015,July,27,1,0,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,7-1-15,NaN
2,amerigo scotfurth,ascotfurth2@tumblr.com,Resort Hotel,0,7,2015,July,27,1,0,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,7-2-15,NaN
3,sheena selway,sselway3@mozilla.org,Resort Hotel,0,13,2015,July,27,1,0,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,7-2-15,NaN
4,beitris hawkings,bhawkings4@google.fr,Resort Hotel,0,14,2015,July,27,1,0,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,7-3-15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,NaN,NaN,City Hotel,0,23,2017,August,35,30,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,9-6-17,NaN
119386,NaN,NaN,City Hotel,0,102,2017,August,35,31,2,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,9-7-17,NaN
119387,NaN,NaN,City Hotel,0,34,2017,August,35,31,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,9-7-17,NaN
119388,NaN,NaN,City Hotel,0,109,2017,August,35,31,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,9-7-17,NaN
119389,NaN,NaN,City Hotel,0,205,2017,August,35,29,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,9-7-17,NaN