<a href="https://colab.research.google.com/github/HugoStigletz/Data-Analytics-Portfolio/blob/main/6_7_1_Imputing_missing_time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
time_index = pd.date_range("2/22/2022", periods=6, freq="W")

time_index

DatetimeIndex(['2022-02-27', '2022-03-06', '2022-03-13', '2022-03-20',
               '2022-03-27', '2022-04-03'],
              dtype='datetime64[ns]', freq='W-SUN')

In [6]:
df = pd.DataFrame(index=time_index);
df

Empty DataFrame
Columns: []
Index: [2022-02-27 00:00:00, 2022-03-06 00:00:00, 2022-03-13 00:00:00, 2022-03-20 00:00:00, 2022-03-27 00:00:00, 2022-04-03 00:00:00]

In [7]:
df["Defects"] = [5.0,4.0,np.nan,np.nan,1.0,np.nan];
print(df)

            Defects
2022-02-27      5.0
2022-03-06      4.0
2022-03-13      NaN
2022-03-20      NaN
2022-03-27      1.0
2022-04-03      NaN

In [8]:
df1= df.interpolate();
print(df1)

            Defects
2022-02-27      5.0
2022-03-06      4.0
2022-03-13      3.0
2022-03-20      2.0
2022-03-27      1.0
2022-04-03      1.0

In [9]:
df2 = df.ffill()
print(df2)

            Defects
2022-02-27      5.0
2022-03-06      4.0
2022-03-13      4.0
2022-03-20      4.0
2022-03-27      1.0
2022-04-03      1.0

In [10]:
df3 = df.bfill();
print(df3)

            Defects
2022-02-27      5.0
2022-03-06      4.0
2022-03-13      1.0
2022-03-20      1.0
2022-03-27      1.0
2022-04-03      NaN