<a href="https://colab.research.google.com/github/HugoStigletz/Data-Analytics-Portfolio/blob/main/Practice_Converting_File_Formats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Guided Activity: Part 1

####Convert a text file to a CSV.

The hackers have sent the file ***ClientData_2020.txt*** for us to convert. Now, we only have 10 minutes to convert this file. While we won't be sending the real thing back, we will need to check that this file is converted and updated correctly.

**Step 1: Upload the *ClientData_2020.txt* file to your desktop, so that it is easy to find.**

You should have downloaded the text file prior to class. In case you haven't, download it now to your desktop.

**Step 2: Import Pandas as pd.**

In [2]:
import pandas as pd

**Step 3: Capture the path of the current text file.**

Open your file explorer and navigate to your ***ClientData_2020.txt*** file. Click the file  (but don't open it). On the home tab, click **Copy Path**. Paste that path into the following code.

In [6]:
file = open("/content/ClientData_2020.txt")

**Step 4: Determine where you want the newly generated file to be stored.**

For ease, let's store the newly converted file on the desktop as well. Let's call the new file, CSV_file. 

Fill in the code below.

In [7]:
file.to_csv = (r'C:/content/ClientData_2020.txt')

# Guided Activity: Part 2

####Convert the CSV file to an Excel document for the hacker! 
Instead of filling in the statements, this time you will write your own.

**Step 1: Ensure that you have downloaded the** ***ClientData_2020.csv***.

Ensure that the CSV version of the Client Data file is downloaded to your desktop. 

**Step 2: Import Pandas as pd.**

You can import Pandas as `pd` again or re-run the cell with that code above.

**Step 3: Capture the path of the current CSV file.**

Open your file explorer and navigate to your ***ClientData_2020.csv*** file. Click the file (but don't open it). On the home tab, click **Copy Path**. Read the CSV file into a variable name of your choice.

In [8]:
file = pd.read_csv(r'ClientData_2020.csv')
file

,Account_Num,First_Name,Last_Name,Email,CC_Num,Current_Bal
0,11-983-1512,Whitby,Shiell,wshiell2@biblegateway.com,4.910000e+17,$1.42B
1,47-898-0195,Nerti,Cummings,ncummings3@economist.com,3.540000e+15,$263.7M
2,82-661-4005,Leif,Ryder,lryder4@techcrunch.com,4.840000e+15,$8.28B
3,07-687-6412,Tiffanie,Rowbrey,trowbrey5@yellowpages.com,5.100000e+15,$9.04B
4,09-002-7659,Pacorro,Jedrzejczak,pjedrzejczak6@spotify.com,3.740000e+14,$91.14M
...,...,...,...,...,...,...
850,56-195-8939,Anthiathia,Compton,acomptonrm@digg.com,6.380000e+15,$26.26M
851,43-901-0427,Ros,Caldayrou,rcaldayrouro@apache.org,3.740000e+14,$111.6M
852,09-314-1492,Janetta,Mc Gorley,jmcgorleyrp@purevolume.com,3.550000e+15,$526.1M
853,43-216-7462,Leshia,Bow,lbowrq@youku.com,3.570000e+15,$1.29B
854,49-914-6463,Alex,Bocke,abockerr@phpbb.com,3.750000e+14,$610.36M

**Step 4: Determine where you want the newly generated file to be stored.**

Use the `file.to_excel` function to transform the CSV file into an Excel document.

In [13]:
file.to_excel('ClientData_2020.xlsx')

**Step 5: Navigate to your homepage to find the newly generated document.**

Click the homepage and navigate to the file path you specified above. Confirm that the file is there.

**Step 6: Create a DataFrame from the Excel document and run .head()** 

Use `pd.read_excel(r'filepath')` to read the Excel document into a DataFrame. Index the DataFrame on the first column.

In [14]:
df = pd.read_excel(r'ClientData_2020.xlsx', index_col=[0])

In [15]:
df.head()

,Account_Num,First_Name,Last_Name,Email,CC_Num,Current_Bal
0,11-983-1512,Whitby,Shiell,wshiell2@biblegateway.com,4.910000e+17,$1.42B
1,47-898-0195,Nerti,Cummings,ncummings3@economist.com,3.540000e+15,$263.7M
2,82-661-4005,Leif,Ryder,lryder4@techcrunch.com,4.840000e+15,$8.28B
3,07-687-6412,Tiffanie,Rowbrey,trowbrey5@yellowpages.com,5.100000e+15,$9.04B
4,09-002-7659,Pacorro,Jedrzejczak,pjedrzejczak6@spotify.com,3.740000e+14,$91.14M

# Independent Activity: Create a PDF

####Create a PDF that contains 5 riddles, and each requires a number as the answer. 
Spend some time between your teammates either creating or researching riddles. A riddle can be a problem to solve or even a math equation—make it tricky!

Store your riddles here:

x - 5 = 10
y + 32 = 96
z^2 -5 = 20
George Washington's Birthday.
The number of digits in pi.

**Step 1: Pip install fpdf.**

In [16]:
pip install fpdf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fpdf
  Downloading fpdf-1.7.2.tar.gz (39 kB)
Building wheels for collected packages: fpdf
  Building wheel for fpdf (setup.py) ... done
  Created wheel for fpdf: filename=fpdf-1.7.2-py2.py3-none-any.whl size=40725 sha256=d58977025815a470d2f10a418356b69c31bd4500f92d67864af659d4259e91f3
  Stored in directory: /root/.cache/pip/wheels/d7/ca/c8/86467e7957bbbcbdf4cf4870fc7dc95e9a16404b2e3c3a98c3
Successfully built fpdf
Installing collected packages: fpdf
Successfully installed fpdf-1.7.2

**Step 2: Import FPDF from fpdf.**

In [28]:
from fpdf import FPDF

**Step 3: Save FPDF() into a variable of your choice.**

Create a variable to store `FPDF()`

In [29]:
pdf = FPDF()

**Step 4: Add a page with .add_page()**

Before we can write anything in our file, we have to add a page first. You can do so with `.add_page()`

In [31]:
pdf.add_page()

**Step 5: Set the style of font and size with .set_font**

Have fun with this! Choose a font from the below list: 
* Courier
* Helvetica or Arial
* Times
* Symbol
* Zapf Dingbats

You can also specify a font style: 
* Empty: regular
* B: bold
* I: italic 
* U: underline

In [36]:
# pdf.set_font("Times", size=16)
pdf.set_font("Times", style="B", size=16)

**Step 6: Create a cell for each of your riddles.**

`pdf.cell()` allows you to input text on any given line and alignment in the PDF. 

Your first riddle has been written for you below. Note that each riddle should generate a number to be a part of the kill-switch code for the hackers to type in.

In [37]:
pdf.cell(200, 10, txt = "George Washington's birthday month (number)", ln = 1, align = 'C')

Now, create a cell for the remaining 2 (or more) riddles. You can adjust the alignment and lines (such as skipping) to whatever your team decides.

In [38]:
pdf.cell(200, 10, txt = "What is full of holes but still holds water", ln = 2, align = 'C')
pdf.cell(200, 10, txt = "I have 4 wheels and flies", ln = 3, align = 'C')

**Step 7: Save the PDF**

Save the PDF with `.output("name.pdf")`. Name the PDF "Instructions" for the hackers to think this is the key for the passcode!

In [39]:
pdf.output("Riddle_me_this.pdf",dest='F')

''

**Step 8: Execute the following code to open your PDF!** 

Upload this PDF to the discussion board.

In [40]:
import webbrowser
path = 'Riddle_me_this.pdf'
webbrowser.open_new(path)

False